# Demo env — Anvil (Fase 6)
# Copia a `.env.local` y rellena con el output de `forge script ... --broadcast`

NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_COLLECTION_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
